<!DOCTYPE html>
<html ng-app="logic" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>Super Rest game</title>

    <!-- Bootstrap core CSS -->
    <script src='../js/quintus-all.js'></script>
    
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script type="text/javascript" src="bower_components/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
     <script type="text/javascript" src="bower_components/angular-ui-bootstrap/ui-bootstrap-tpls-0.11.2.min.js"></script>
    <script type="text/javascript" src="js/angularquintus.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="css/main.css" rel="stylesheet">

    <!-- Fonts from Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-controller="GameLogicController">

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>Game Rest</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#Scores">Scores</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
						<h1> 
					      Score: {{score}}
					    </h1>
					    <button class="btn btn-default" ng-click="stopMusic()" ng-show="sound">
							<span class="fa-stack ">
							  <i class="fa fa-volume-up "></i>
							  <i class="fa fa-ban fa-stack-1x text-danger"></i>
						</span>


					    </button>
					    <button class="btn btn-default" ng-click="stopMusic()" ng-show="!sound">
							
							  <i class="fa fa-volume-up"></i>
							  
						


					    </button>
				</div><!-- /col-lg-6 -->
				<div class="col-lg-5">
					 <canvas id='myGame' width='490' height='490' style='background-color: white' ></canvas>
				</div><!-- /col-lg-6 -->
				<div class="col-lg-4">					     

					    <h1>
					      Lives: <i style="color: red"ng-repeat="live in lives  track by $index" class="fa fa-heartbeat" > </i>
					    </h1>
    
				</div><!-- /col-lg-6 -->
				
			</div><!-- /row -->
			<div class="row">
				
			</div>
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	
	
	<div class="container" id="Scores">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Highest Scores</h1>
				
			</div>
		</div><!-- /row -->
		
		<div class="row mt">
			<div class="col-lg-offset-1 col-lg-10">
				
				<table class="table table-striped">
					<thead>
						<th>#</th>
						<th>Name</th>
						<th>Score</th>
						
					</thead>
					<tr  ng-repeat="player in players | orderBy : '-score' | limitTo: 10">
		                            	                        
                        <td> {{$index + 1}}</td>
                        <td> {{player.name}}</td>
                        <td> {{player.score}}</td>
		                          
					</tr>
			
				</table>




			</div><!--/col-lg-10 -->
		</div><!-- /row -->
	</div><!-- /container -->
	
	
	<div class="container">
		<hr>	
		
		<p class="centered">Created by <a href="https://github.com/henryalejo">github.com/henryalejo</a></p>
	</div><!-- 

	 <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

	/container -->
	

    
   
  </body>
</html>
